.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color:rgb(231, 163, 163);
    border-style:ridge;
    border-color:rgba(101, 39, 112, 0.711);
   
}

